<div class="container-fluid">
  <div class="row footer" style="padding:8%;">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <h1>ESCAPERS</h1>
      <p style="line-height:25px"><%= aboutUs %></p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <h1>Google Reviews</h1>
      <ul style="list-style-type:none;padding-left:0">
        <li style="margin-bottom:2%">
          <div class="fa fa-google" style="float:left;padding-top:6px">
          </div>

          <div style="padding-left:9%;line-height:25px;">
            Lorem ipsum dolor sit amet, consectetur adipi. Suspend isse ultrices
            hendrerit nunc vitae vel a sodales. Ac lectus vel risus suscipit
            venenatis.
          </div>
        </li>

        <li style="margin-bottom:2%">
          <div class="fa fa-google" style="float:left;padding-top:6px">
          </div>

          <div style="padding-left:9%;line-height:25px;">
            Lorem ipsum dolor sit amet, consectetur adipi. Suspend isse ultrices
            hendrerit nunc vitae vel a sodales. Ac lectus vel risus suscipit
            venenatis.
          </div>
        </li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 instGal">
      <h1>Instagram Gallery</h1>

      <ul style="list-style-type:none;padding:0">
        <li>
          <img src="http://placehold.it/70x70" alt="Manali">
        </li>
        <li>
          <img src="http://placehold.it/70x70" alt="Meghalaya">
        </li>
        <li>
          <img src="http://placehold.it/70x70" alt="Assam">
        </li>
      </ul>
      <ul>
        <li>
          <img src="http://placehold.it/70x70" alt="Assam">
        </li>
        <li>
          <img src="http://placehold.it/70x70" alt="Assam">
        </li>
        <li>
          <img src="http://placehold.it/70x70" alt="Assam">
        </li>
      </ul>
    </div>
  </div>
</div>
