<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <ul class="contBar">
          <% mobNos.forEach(function(number) { %>
          <li><a href="tel:+91<%= number %>"><i class="fa fa-phone"> <%= number %></i></a></li>
          <% }) %>
        </ul>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <ul class="contBar">
          <li><a href="http://www.facebook.com" class="fa fa-facebook"></a></li>
          <li><a href="http://www.twitter.com" class="fa fa-twitter"></a></li>
          <li><a href="https://www.instagram.com" class="fa fa-instagram"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-left" href="/"><img alt="Logo" src="/images/escapers.png"></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Destinations<span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <% destinations.forEach(function(dest) { %>
            <li><a href="/destinations/<%= dest.destination %>"><%= dest.name %></a></li>
            <% }) %>
          </ul>
        </li>

        <li><a href="javascript:void(0)">About</a></li>
      </ul>
    </div>
  </div>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
</div>
