<div class="whatsapp">
  <img src="/images/whatsapp.png">

  <ul>
    <% whatsapp.forEach(function(number){ %>
    <li>
      <a href="https://wa.me/<%= number %>/?text=<%= defMessage %>"><%= number %></a>
    </li>
    <% }) %>
  </ul>
</div>
