<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= name %></title>

    <% include partials/scripts.ejs %>

    <link rel="stylesheet" href="/stylesheets/destinations.css"></link>
    <link rel="stylesheet" href="/stylesheets/whatsapp.css"></link>

    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/destinations.js"></script>
    <script src="/javascripts/whatsapp.js"></script>
  </head>

  <body>
    <% include partials/header.ejs %>

    <div class="container-fluid">
      <div class="row imagetiles">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <img src="<%= topImg %>" class="img-responsive" alt="<%= destination %>">
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row destMeta">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 selMeta" data-toggle=".info">
          <i class="fa fa-info-circle"></i>
          Information
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-toggle=".gallery">
          <i class="fa fa-camera"></i>
          Gallery
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-toggle=".trip">
          <i class="fa fa-map"></i>
          Trip Schedule
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row" style="padding:5% 7%">
        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 mid-1">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info active">
            <h3>
              <%= destName %>
            </h3>

            <p>
            <%= description %>
            </p>

            <span>
              <i class="fa fa-clock-o"></i>
              <%= period %> Days
            </span>

            <div class="destDesc">
              <ul>
                <li>
                  <h4>
                    Destination
                  </h4>

                  <div>
                    <%= destName %>
                  </div>
                </li>

                <li>
                  <h4>
                    Cost
                  </h4>

                  <div class="details">
                    <p>Triple sharing - 3 people per tent</p>
                    <i class="fa fa-rupee"></i> <%= pricePerPerson.triple %> per person

                    <hr />

                    <p>Twin sharing - 2 people per tent</p>
                    <i class="fa fa-rupee"></i> <%= pricePerPerson.twin %> per person

                    <hr />

                    <p>
                    <i class="fa fa-credit-card"></i>
                    You need to make a pre-booking payment of Rs. 500 per
                    person<br>

                    <i class="fa fa-credit-card"></i>
                    You can pay by Paytm or Bank Transfer or Google Pay<br>

                    <i class="fa fa-credit-card"></i>
                    Once we receive the payment, you will get a confirmation
                    email from our team<br>

                    <i class="fa fa-credit-card"></i>
                    Pay the remaining amount at the campsite
                    </p>
                  </div>
                </li>

                <li>
                  <h4>
                    Inclusion
                  </h4>

                  <div class="details">
                    <p>
                    <i class="fa fa-check"></i>
                    Pick Up &and; Drop - Kasara Station &lt;----&gt; Campsite<br>
                    <i class="fa fa-check"></i>
                    Evening Snacks | Dinner – Veg/Non-Veg/Jain | Breakfast<br>
                    <i class="fa fa-check"></i>
                    1 Ice box per group<br>
                    <i class="fa fa-check"></i>
                    Bonfire &and; Music<br>
                    <i class="fa fa-check"></i>
                    Tents, Thick cotton sleeping mats &and; Blankets<br>
                    <i class="fa fa-check"></i>
                    Drinking Water<br>
                    <i class="fa fa-check"></i>
                    1 Ice box per group<br>
                    <i class="fa fa-check"></i>
                    Loads of Memories<br>
                    <i class="fa fa-check"></i>
                    Barbeque<br>
                    <i class="fa fa-check"></i>
                    Boating (depends on availability)<br>
                    <i class="fa fa-building-o"></i>
                    Newly constructed, clean washrooms at the campsite
                    </p>
                  </div>
                </li>

                <li>
                  <h4>
                    Exclusion
                  </h4>

                  <div class="details">
                    <p>
                    <i class="fa fa-check"></i>
                    Any personal expense<br>
                    <i class="fa fa-check"></i>
                    Anything not mentioned in inclusions
                    </p>
                  </div>
                </li>

                <li>
                  <h4>
                    Things to carry
                  </h4>

                  <div>
                    <p>
                    <i class="fa fa-check"></i>
                    Extra blanket/bed-sheet<br>

                    <i class="fa fa-check"></i>
                    Napkins<br>

                    <i class="fa fa-check"></i>
                    Jacket/Winter wear<br>

                    <i class="fa fa-check"></i>
                    Odomos<br>

                    <i class="fa fa-check"></i>
                    Extra pair of clothes<br>

                    <i class="fa fa-check"></i>
                    Toothbrush &and; Toothpaste<br>

                    <i class="fa fa-check"></i>
                    Powerbank (as there is no electricity)
                    </p>

                    <h5>
                      Notes
                    </h5>

                    <i class="fa fa-sticky-note-o"></i>
                    Tents will be allocated as per your group<br>

                    <i class="fa fa-sticky-note-o"></i>
                    You can carry liquor and cigarettes as they are not
                    available in nearby places and on campsite<br>

                    <i class="fa fa-sticky-note-o"></i>
                    Drugs are strictly prohibited if found, then you will be
                    asked to leave campsite immediately and no refund and
                    transport shall be provided<br>

                    <i class="fa fa-sticky-note-o"></i>
                    Any kind of violence or misbehavior with other travelers,
                    then you will be asked to leave campsite immediately and
                    no refund and transport shall be provided
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gallery">
            <% for(let i = 0; i < gallery.length; i++) { %>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <img src="<%= gallery[i] %>" class="img-responsive">
            </div>
            <% } %>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 trip">
            <ol class="schedule">
              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>12:46pm</h4>
                </span>

                <span class="plan">
                  Take train from Dadar – Kasara
                </span>
              </li>

              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>2:45pm</h4>
                </span>

                <span class="plan">
                  Get down at Kasara
                </span>
              </li>

              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>3:00pm</h4>
                </span>

                <span class="plan">
                  Alight the cab from Kasara station
                </span>
              </li>

              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>5:30pm</h4>
                </span>

                <span class="plan">
                  Reach campsite
                </span>
              </li>

              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>6:00pm</h4>
                </span>

                <span class="plan">
                  Snacks
                </span>
              </li>

              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>7:00pm</h4>
                </span>

                <span class="plan">
                  Barbeque
                </span>
              </li>

              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>8:30pm</h4>
                </span>

                <span class="plan">
                  Bonfire &and; Music
                </span>
              </li>

              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>10:00pm</h4>
                </span>

                <span class="plan">
                  Enjoy unlimited dinner
                </span>
              </li>

              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>Nigh time</h4>
                </span>

                <span class="plan">
                  Night is all yours to enjoy
                </span>
              </li>

              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>7:30am</h4>
                </span>

                <span class="plan">
                  Wakeup call
                </span>
              </li>

              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>8:30am</h4>
                </span>

                <span class="plan">
                  Breakfast
                </span>
              </li>

              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>9:00am</h4>
                </span>

                <span class="plan">
                  Boating (if available)
                </span>
              </li>

              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>9:30am</h4>
                </span>

                <span class="plan">
                  Leave for Kasara railway station
                </span>
              </li>

              <li>
                <span class="time">
                  <i class="fa fa-clock-o"></i>
                  <h4>12:19pm</h4>
                </span>

                <span class="plan">
                  Alight Kasara – Dadar train
                </span>
              </li>
            </ol>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mid-2">
          <form class="booking">
            <h3>
              Book this tour
            </h3>

            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-pencil"></i>
              </span>

              <input type="text" class="form-control input-lg" id="name" placeholder="Name">
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </span>

              <input type="email" class="form-control input-lg" id="email" placeholder="Email">
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </span>

              <input type="email" class="form-control input-lg" id="confEmail" placeholder="Confirm email">
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </span>

              <input type="date" class="form-control input-lg" id="date">
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-phone"></i>
              </span>

              <input type="number" class="form-control input-lg" id="phone" placeholder="Phone">
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>

              <input type="number" class="form-control input-lg"
              id="noOfTickets" placeholder="Number of persons">
            </div>

            <div>
              <div class="radio">
                <label><input type="radio" name="share" checked> Triple sharing</label>
              </div>

              <div class="radio">
                <label><input type="radio" name="share"> Twin sharing</label>
              </div>
            </div>

            <div class="btn-group" style="margin-top:5%;margin-bottom:3%">
              <button type="button" class="btn btn-primary">Book now</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <% include partials/footer.ejs %>
    <% include partials/whatsapp.ejs %>
  </body>
</html>
