<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= name %></title>

    <% include partials/scripts.ejs %>

    <link rel="stylesheet" href="/stylesheets/escapers.css"></link>
    <link rel="stylesheet" href="/stylesheets/whatsapp.css"></link>

    <script src="/javascripts/escapers.js"></script>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/whatsapp.js"></script>
  </head>

  <body>
    <% include partials/header.ejs %>

    <div class="carousel">
      <div id="escCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#escCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#escCarousel" data-slide-to="1"></li>
          <li data-target="#escCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <% carousel.forEach(function(item) { %>
          <div class="item">
            <img src="<%= item.img %>" alt="<%= item.destination %>">

            <div class="carousel-caption">
              <h3><%= item.name %></h3>
              <p><%= item.catchPhrase %></p>
            </div>
          </div>
          <% }) %>
        </div>

        <a class="left carousel-control" href="#escCarousel" data-slide="prev">
          <span class="fa fa-angle-left"></span>
          <span class="sr-only"></span>
        </a>

        <a class="right carousel-control" href="#escCarousel" data-slide="next">
          <span class="fa fa-angle-right"></span>
          <span class="sr-only"></span>
        </a>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row slider">
        <% slider.forEach(function(slide) { %>
        <div class="img-slide">
          <img src="<%= slide.img %>" alt="<%= slide.destination %>">
        </div>
        <% }) %>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row imagetiles">
        <% tiles.forEach(function(tile) { %>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <img src="<%= tile.img %>" class="img-responsive" alt="<%= tile.destination %>">

          <div class="dest-1">
            <h3><%= tile.name %></h3>
            <p><%= tile.experience %></p>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <% include partials/footer.ejs %>
    <% include partials/whatsapp.ejs %>
  </body>
</html>
