* {
    box-sizing: border-box;
}

.imagetiles div {
    padding: 0;
}

.imagetiles img {
    min-height: 400px;
}

.destMeta {
    padding:0 9%;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    background-color: #f4f4f4;
}

.destMeta div {
    padding: 20px;
    color: Gray;
}

.destMeta i {
    margin-right: 10px;
}

.destMeta div:hover {
    cursor: pointer;
}

.selMeta {
    background-color: White;
}

.info {
    display: none;
    padding: 0;
    line-height: 26px;
}

.info h5 {
    font-weight: bold;
    color: OrangeRed;
}

.info h3 {
    font-size: xx-large;
    font-weight: 700;
}

.gallery {
    display: none;
    padding: 0;
}

.gallery div {
    padding: 0;
}

.gallery img {
    min-height: 217px;
    padding: 3% 3%;
}

.destDesc {
    margin-top: 5%;
}

.destDesc ul {
    list-style-type: none;
    padding: 0;
}

.destDesc ul li {
    display: inline-table;
    padding: 3%;
    width: 100%;
    border-top: 1px solid LightGray;
}

.destDesc ul li:last-child {
    border-bottom: 1px solid LightGray;
}

.destDesc ul li h4 {
    display: table-cell;
    vertical-align: middle;
    width: 40%;
}

.destDesc ul li div {
    display: table-cell;
    vertical-align: middle;
}

.destDesc .details p {
    margin-bottom: 0;
}

.trip {
    padding: 0;
    display: none;
}

.trip .schedule {
    list-style-type: none;
    padding: 0;
}

.trip li {
    padding: 1%;
    border-top: 1px solid LightGray;
}

.trip li:first-child {
    border-top: none;
}

.trip h4 {
    display: inline-block;
}

.trip .schedule .time {
    display: inline-block;
    width: 29%;
}

.trip .schedule .plan {
    display: inline-block;
}

.active {
    display: block;
}

.booking {
    background-color: LightGray;
    padding:5%;
    text-align: center;
}

.booking > div:nth-child(even) {
    margin-bottom: 2%;
    margin-top: 2%;
}

.booking .btn-group {
    width: 100%;
}

.booking .btn-group button {
    width: 100%;
}

.booking .radio {
    float: left;
    width: 50%;
    margin-bottom: 0;
}

.booking .radio:nth-child(2) {
    margin-top: 10px;
}

@media screen and (max-width: 479px) {
    .booking .radio {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .info, .trip {
        margin-bottom: 5%;
    }

    .mid-1, .mid-2 {
        padding: 0;
    }

    .gallery img {
        padding: 3% 0;
    }

    .destMeta div:nth-child(2n) {
        border-left: none;
        border-right: none;
        border-top: 1px solid LightGray;
        border-bottom: 1px solid LightGray;
    }

    .destDesc ul li {
        display: block;
    }

    .destDesc ul li h4 {
        display: block;
        width: 100%;
    }

    .destDesc ul li div {
        display: block;
        width: 100%;
    }

    .trip .schedule .time {
        display: block;
        width: 100%;
    }

    .trip .schedule .plan {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .destMeta div:nth-child(2n) {
        border-top: none;
        border-bottom: none;
        border-left: 1px solid LightGray;
        border-right: 1px solid LightGray;
    }
}
