#escCarousel img {
    min-height: 400px;
    width: 100%;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 400px;
    font-size: 0;
}

.img-slide {
    position: absolute;
    width: 33.33%;
    height: 400px;
    overflow: hidden;
    transition: 1s;
}

.img-slide img {
    width: 100%;
    height: 400px;
    transition: .3s;
}

.img-slide img:hover {
    transform: scale(1.1);
    transition: .3s;
}

.slider .img-slide:nth-child(1) {
    left: 0;
}

.slider .img-slide:nth-child(2) {
    left: 33.33%;
}

.slider .img-slide:nth-child(3) {
    left: 66.66%;
}

.slider .img-slide:nth-child(4) {
    left: 100%;
}

[class*="fa-angle"] {
    font-size:48px;
    position:absolute;
    top:50%;
}

[class*="dest"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: White;
}

.imagetiles div {
    padding: 0px;
}

.imagetiles img {
    min-height: 400px;
}

@media screen and (max-width: 479px) {
    .carousel-caption p {
        display: none;
    }

    .carousel-control span {
        display: none;
    }

    .slider .img-slide:nth-child(1) {
        left: 0%;
        width: 100%;
    }

    .slider .img-slide:nth-child(2) {
        left: 100%;
        width: 100%;
    }

    .slider .img-slide:nth-child(3) {
        left: 200%;
        width: 100%;
    }

    .slider .img-slide:nth-child(3) {
        left: 300%;
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    .slider .img-slide:nth-child(1) {
        left: 0%;
        width: 50%;
    }

    .slider .img-slide:nth-child(2) {
        left: 50%;
        width: 50%;
    }

    .slider .img-slide:nth-child(3) {
        left: 100%;
        width: 50%;
    }

    .slider .img-slide:nth-child(3) {
        left: 150%;
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .slider .img-slide:nth-child(1) {
        left: 0;
        width: 33.33%;
    }

    .slider .img-slide:nth-child(2) {
        left: 33.33%;
        width: 33.33%;
    }

    .slider .img-slide:nth-child(3) {
        left: 66.66%;
        width: 33.33%;
    }

    .slider .img-slide:nth-child(4) {
        left: 100%;
        width: 33.33%;
    }

    div.imagetiles div.col-lg-4.col-md-4.col-sm-6.col-xs-12 {
        width: 33.33%;
    }
}
