.contBar {
    text-align:center;
    margin-bottom:0;
    padding: 0;
}

.contBar li {
    display: inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    color: #FFFFFF;
    margin-left: 1em;
    margin-right: 1em;
}

.contBar li a {
    color: #FFFFFF;
}

/* Adjust vertically due to logo */
.navbar-toggle {
    margin-top: 17px;
}

.navbar {
    margin-bottom: 0;
    font-weight: bold;
    border: none;
}

.navbar-header img {
    max-height: 69px;
}

.navbar-nav > li > a {
    line-height: 41px;
}

.navbar-nav {
    font-size: 15px;
}

.navbar .container-fluid .row div:nth-child(even) {
    float: right;
}

.navbar div.container-fluid:first-child {
    background-color: #008B8B;
    line-height: 2;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-nav {
        float: none;
        text-align: center;
    }

    .navbar-nav li {
        float: none;
        display: inline-block;
    }

    .dropdown-menu li {
        width: 100%;
    }

    .dropdown-menu li a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}
