.whatsapp {
    position: fixed;
    bottom: 20px;
    right: -97px;
    z-index: 99;
    cursor: pointer;
    transition: right 0.3s linear;
}

.whatsapp a {
    color: Peru;
}

.whatsapp ul {
    float: left;
    list-style-type: none;
    padding-left: 13px;
}

.whatsapp img {
    float: left;
    width: 50px;
    height: 50px;
}
